{% extends 'base.html.twig' %}

{% block title %}{{ 'forget_password.password'|trans }}{% endblock %}

{% block body %}

    <div class="m-all-160"></div>
    <div class="container">
        <h1 class="ltext-103 cl5">{{ 'forget_password.title'|trans }}</h1>
        <br>
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        <br>
        <button type="submit" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
            {{ 'forget_password.password'|trans }}
        </button>
        {{ form_end(form) }}
    </div>
    <div class="m-all-200"></div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript">
        {% for message in app.flashes('error') %}
        swal("{{ message|trans|raw }}", "", "error");
        {% endfor %}
    </script>
{% endblock %}
