{% extends 'base.html.twig' %}

{% block title %}{{ 'forget_password.reset.password'|trans }}{% endblock %}

{% block body %}

    <div class="m-all-160"></div>
    <div class="container">
        <h1 class="ltext-103 cl5">{{ 'forget_password.reset.title'|trans }}</h1>
        <br>
        <span id="url" data-url-password="{{ path('check_password') }}"></span>
        {{ form_start(form) }}
        {{ form_row(form.password) }}
        <span style="float: right; cursor: pointer" title="{{ "register.show_password"|trans }}" id="show_password">
            <i class="fas fa-eye fa-2x"></i>
        </span>
        <div id="password_error"></div>
        <br>
        <button type="submit" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
            {{ 'forget_password.password'|trans }}
        </button>
        {{ form_end(form) }}
    </div>
    <div class="m-all-200"></div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript">
        {% for message in app.flashes('error') %}
        swal("{{ message|trans|raw }}", "", "error");
        {% endfor %}
        //check eyes password
        $('#show_password').on('click', function () {
            if($('.password').attr('type') == "password") {
                $('.password').prop('type', 'text');
            } else {
                $('.password').prop('type', 'password');
            }
        })
        // check valid password
        var url = $('#url')
        var password = $('#password_error')
        $('.password').on("keyup", function () {
            $.ajax({
                url: url.data('url-password'),
                type: 'POST',
                data: {'password': this.value},
                dataType: 'json',
                success: function (data) {
                    if(data.success === 1) {
                        password.html(data.message)
                        setTimeout(function () {
                            password.html('')
                        }, 5000)
                    } else if(data.error === 0) {
                        password.html(data.message)
                    }
                },
                error: function () {
                    alert('Error server')
                }
            })
        })

    </script>
{% endblock %}
